<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="REACT_ENVIRONMENT" value="Development" />
    </appSettings>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="React Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
         <customHeaders>
            <clear />
            <!-- Gets rid of the other unwanted headers -->
            <add name="X-Xss-Protection" value="1; mode=block"/>
            <!-- configure the built in reflective XSS protection found in Internet Explorer, Chrome and Safari (Webkit). -->
            <add name="X-Content-Type-Options" value="nosniff"/>
            <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload"/>
            <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security - HSTS allows you to tell a browser that you always want a user to connect using HTTPS instead of HTTP. his policy will enforce TLS on your site and all subdomains for a year. -->
            <add name="X-Permitted-Cross-Domain-Policies" value="none"/>
            <!-- The X-Permitted-Cross-Domain-Policies header tells clients like Flash and Acrobat what cross-domain policies they can use. If you don’t want them to load data from your domain, set the header’s value to none -->
            <remove name="X-Powered-By" />
            <!-- removes the X-Powered-By:ASP.NET header -->
         </customHeaders>
         <redirectHeaders>
            <clear />
         </redirectHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
